.weather {
    margin-top: 20px;
    border: 3px solid ;
    border-radius: 20px;
    padding-bottom: 30px;
    width: max-content;
    padding: 0px 20px 20px 20px;
    margin-left: 25%;
  }
  .weather .title 
  {
    font-size: 4rem;
  
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .weather form 
  {
    margin-top: 30px;
  }
  .weather form input 
  {
    padding: 10px;
    border: none;
    border-bottom: 2px solid lightskyblue;
    margin-right: 10px;
  }
  
  .weather form input:focus 
  {
    outline: none;
    border-bottom: 3px solid lightskyblue;
  }
  
  .weather .getweather 
  {
    margin-left: 10px;
    padding: 8px;
    font-size: 1.3rem;
    border: none;
   
    border: 2px solid black;
    background:lightskyblue;
    cursor: pointer;
    color:wheat;
  }
  
  .weather .getweather:hover
   {
    background: transparent;
    color: black;
  }
  
  .weather .getweather:focus 
  {
    outline: none;
  }