.inputField{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.btn{
    color: blue;
    height: 70px;
    cursor: pointer;
    background-color:brown;
    color:lightpink;
}
    
.inp{
    height: 100px;
}